.color-negro {
  color: black; }

.color-grisOscuro {
  color: #3d3f3c; }

.color-gris {
  color: #8a8a8a; }

.sucursalesBorde, .sucursalesBordeDos {
  border-top: solid 3px #FFDD00;
  border-bottom: solid 3px #FFDD00;
  border-left: solid 3px #FFDD00;
  border-right: solid 3px #FFDD00; }

.sucursalesBordeDos {
  background-color: #f7f5f5; }

.cuadrado {
  display: flex;
  justify-content: center; }

.medidaUno {
  background-color: #FFDD00;
  text-align: center;
  margin: 25px;
  margin-bottom: 0px;
  border: solid red 3px;
  color: black;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif; }

.medidaUno {
  width: 600px;
  height: 100px; }

.medidaDos {
  width: 300px;
  height: 100px;
  background-color: #FFDD00;
  text-align: center;
  margin: 25px;
  margin-bottom: 25px;
  border: solid red 3px;
  color: black;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif; }

strong {
  padding: 10px; }
  strong font {
    font-weight: bold;
    size: 30px; }
