*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.inicio{
    padding: 40px;
    padding-left: 200px;
    background-color: black;
    
    
}
.cuadrado{
    background-color: black;
}
h6 {padding: 10px;}

.medidaUno{background-color: white;
    text-align: center;
    margin: 25px,;
    margin-bottom: 0px ;
    height: 100px;
    border:solid red 8px;
    color:black; 
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif; }

.auto{
    padding: 10px;
    margin: 10px;
}

.card {
    margin-bottom: 10px;
    display: flex;
    justify-content:center ;
}
.card1{
    position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:white;
  background-clip: border-box;
  border: 2px solid black ;
  border-radius: 0.25rem;
  margin-bottom: 10px;
}


.subtitulo{
    font-weight: bold;
    margin: 10px;
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.auto{
    padding: 10px;
    margin: 10px;
}


.servicios{
    padding: 10px;
    padding-left: 300px;
}
.formulario{
    padding: 10px;
}

.promImagen {width: 300px;
    height: 300px;
    margin:40px;}  
      
    
.btn {
    transition: widht 1s, height 1s; 
}
.btn:hover {
    width:215px ;
        height:80px ;

}
strong{font-weight: bold ;
    font-size: 30px;
    padding: 10px;

}
 
.medida {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: black;
    background-color:#FFDD00 ;
}
.contenedorUno {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.medidaImagen {
    display: grid;
    justify-items: center ;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tituloMedida {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 4px;

}
p{
    padding: 4px;
    color:black; 
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;

}

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
article {
    margin: 15px;

}
.imagenesSucursales
{
    width: 100%;
    max-width: 680px;
}
.imagenesServicio {
    width: 100%;
    max-width: 280px;
}

.sucursalesBorde {
    border-top: solid 3px #FFDD00;
    border-bottom: solid 3px #FFDD00;
    border-left: solid 3px #FFDD00;
    border-right: solid 3px #FFDD00;
}